@font-face {
  font-family: "LeagueSpartan-Regular";
  src: url(../public/assets/fonts/LeagueSpartan-Regular.woff2) format("woff2");
}
@font-face {
  font-family: "LeagueSpartan-Bold";
  src: url(../public/assets/fonts/LeagueSpartan-Bold.woff2) format("woff2");
}
@font-face {
  font-family: "LeagueSpartan-SemiBold";
  src: url(../public/assets/fonts/LeagueSpartan-SemiBold.woff2) format("woff2");
}
